.custom-shape-divider-top-1696768387 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1696768387 svg {
    position: relative;
    display: block;
    width: calc(109% + 1.3px);
    height: 79px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1696768387 .shape-fill {
    fill: #FFFFFF;
}
